{%- import "metasettings/metasettings" as metasettings -%}
{%- import "_includes/forms" as forms -%}

{%- set fieldid = "metasettings#{random()}" -%}
{%- set options = options ?? [] -%}
{%- set debug = false -%}

{## Primary Field Input Controls
{-------------------------------------------------------------------------------------##}
<div class="metasettings-field" data-field="{{ field.handle }}">
    {% if options is not empty %}
        <div class="control">
            {%- set firstOpt = options[0].value ?? '' -%}
            {% if options|length == 1 and firstOpt|lower == 'button' %}
                {%- set input = forms.hidden({
                    id: fieldid,
                    name : "#{field.handle}[value]",
                    value: options[0].value,
                }) -%}

                {{ forms.field({}, input ) }}

                {{ metasettings.registerButton( namespace|id, fieldid ) }}
                <a class="btn btn-gear only" role="button" tabindex="0"><span>{{options[0].label ?? 'Extra Settings'}}</span></a>

            {% else %}

                {{ forms.selectizeField({
                    id     : fieldid,
                    name   : "#{field.handle}[value]",
                    options: options,
                    class  : 'selectize',
                    value  : value.value,
                    selectizeOptions: {
                        highlight: false
                    }
                }) }}

                {{ metasettings.registerSelectize( namespace|id, fieldid ) }}
                <a class="btn btn-gear" role="button" tabindex="0"></a>
            {% endif %}
            {# <a class="btn btn-help" role="button" tabindex="0"></a> #}
            {{ forms.hidden({ name: "#{field.handle}[json]", value: value.json }) }}
        </div>
        <div class="tooltips"></div>

        {%- if debug and craft.app.config.general.devMode -%}
            <div class="flex flex-col items-start">
                <strong>JSON Config</strong>
                <textarea style="width:100%; height: 60px; border: 1px solid">{{ options | json_encode }}</textarea>
                <a href="https://jsonlint.com/?json={{ options | json_encode | url_encode }}" target="_blank" rel="noopener noreferrer">Validate JSON</a>
            </div>
        {%- endif -%}
    {%- else -%}
        <div class="error flex flex-col items-start">
            {%- if craft.app.config.general.devMode -%}
                {%- set e = error ? collect(error).first() : null -%}
                {{ ( e.error   ?? null ) ? tag('strong', { text: e.error } )}}
                {{ ( e.message ?? null ) ? tag('span',   { text: e.message } )}}
                {{ ( e.path    ?? null ) ? tag('span',   { text: e.path } )}}
                {%- if e.json ?? null -%}
                    <textarea style="width:100%; height: 60px; border: 1px solid">{{ e.json }}</textarea>
                    <a href="https://jsonlint.com/?json={{ e.json | url_encode }}" target="_blank" rel="noopener noreferrer">Validate JSON</a>
                {%- endif -%}
                {%- if e.twig ?? null -%}
                    <textarea style="width:100%; height: 60px; border: 1px solid">{{ e.twig }}</textarea>
                {%- endif -%}
            {%- else -%}
                <strong>{{ "No options available"|t }}</strong>
            {%- endif -%}
        </div>
    {% endif %}
</div>

{## <template> content for modals & tooltips
{-------------------------------------------------------------------------------------##}
{{ metasettings.virtualmodals( namespace|id, field, options, value.settings ) }}
{{ metasettings.inlinetips( namespace|id, field, options ) }}
{# {{ metasettings.helpmodals( namespace|id, field, options ) }} #}
